name: aerospike dashboard linter

on:
  push:
    branches: [ "dev" ]
  pull_request:
    branches: [ "dev" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
      with:
        egress-policy: audit

    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

    - name: Set up Python
      uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
      with:
        python-version: '3.10' 

    - name: Install 
      run: pip3 install check-jsonschema

    - name: validate all json files against dashboard_schema.json
      run: |
         json_files=$(find ./config/grafana/dashboards -type f -name "*.json" -printf "$(realpath -s %p) ")
         
         for file in $json_files; do
           echo "validating file === $file"
           #  ok -- validation done if all is good, else returns error
           check-jsonschema --schemafile=build/dashboard_schema.json $file 
         done
