apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: monitoring
spec:
  type: ClusterIP
  ports:
    - port: 3000
      targetPort: 3000
  selector:
    app: grafana
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  namespace: monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      containers:
        - name: grafana
          image: grafana/grafana:10.4.0
          ports:
            - containerPort: 3000
          env:
            - name: GF_SECURITY_ADMIN_USER
              value: admin
            - name: GF_SECURITY_ADMIN_PASSWORD
              value: admin
            - name: GF_INSTALL_PLUGINS
              value: camptocamp-prometheus-alertmanager-datasource,grafana-polystat-panel,jdbranham-diagram-panel
            # you had this already
            - name: GF_PATHS_PROVISIONING
              value: /etc/grafana/provisioning
          volumeMounts:
            # 1) datasource CM -> so "Aerospike Prometheus" shows up
            - name: grafana-datasource
              mountPath: /etc/grafana/provisioning/datasources
            # 2) dashboard provider CM -> so Grafana knows to read from /var/lib/grafana/dashboards
            - name: grafana-dashboard-providers
              mountPath: /etc/grafana/provisioning/dashboards
            # 3) your actual dashboards folder from Mac
            - name: grafana-dashboards
              mountPath: /var/lib/grafana/dashboards
      volumes:
        # from grafana-datasource.yaml
        - name: grafana-datasource
          configMap:
            name: grafana-datasource
        # from grafana-dashboard-provider.yaml
        - name: grafana-dashboard-providers
          configMap:
            name: grafana-dashboard-providers
        # your local dashboards dir
        - name: grafana-dashboards
          hostPath:
            #path: /Users/demos/aerospike-monitoring/config/grafana/dashboards/
            path: <PROVIDE_REAL_PATH_TO_DASHBOARDS>
            type: Directory
